<h1>Log In Below:</h1>
<form action="/sessions" method="post">
    <lable for name="email">Email:</lable>
    <input type="text" name="email"></input>
    <lable for name="email">Password:</lable>
    <input type="text" name="password"></input>
    <input type="submit" value="Log In"></input>
</form>
