<h1>Log In Below:</h1>
<form method='post' action='/sessions'>
  <label>Name</label>
  <input type='text' name='name' id='name' />
  <label>Email</label>
  <input type='text' name='email' id='email' />
  <label>Password</label>
  <input type='text' name='password' id='password' />
  <input type='submit' value='Log In' id='sign_up' />
</form>