<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<h3><table>
  <tr>
    <td align="right">User Name:</td>
    <td><input type="text" name="name"></td>
  </tr>
  <tr>
    <td align="right">Email:</td>
    <td><input type="text" name="email"></td>
  </tr>
  <tr>
    <td align="right">Password:</td>
    <td><input type="text" name="password"></td>
  </tr>
</table></h3>
<input id="submit" type="submit" value="Sign Up">
</form>

