<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    
    Name: <input type="text" name="name"></input>
    Email: <input type="text" name="email"></input>
    Password: <input type="text" name="password"></input>
    <input type="submit" value="Sign Up"></input>
</form>
 
